<?php

function mysql_conf__ns14040() {
	$mysql_conf = array(
		'server' => NULL,
		'username' => 'mysql-user-name',
		'password' => 'secret',
		'database' => 'mysql-database-name',
	);
	
	return $mysql_conf;
}


